<ion-header>
  <ion-navbar>
    <ion-title>
      Take a photo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div class="photo-image-wrapper">
      <img [src]="DomSanitizer.bypassSecurityTrustUrl(base64Image)"/>
    </div>
    <ion-item>
      <button ion-button icon-left clear item-left
          (click)="savePicture()"
          *ngIf="base64Image !== PLACEHOLDER">
        <ion-icon name="cloud-upload"></ion-icon>
        Save
      </button>
      <button ion-button icon-left clear item-right (click)="takePicture()">
        <ion-icon
          [name]="base64Image === PLACEHOLDER ? 'camera' : 'trash'"
          [color]="base64Image === PLACEHOLDER ? '' : 'danger'"
        ></ion-icon>
        {{ base64Image === PLACEHOLDER ? 'Take picture' : 'Drop picture' }}
      </button>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let photo of photoList; let ind = index">
    <div class="photo-image-wrapper">
      <img [src]="DomSanitizer.bypassSecurityTrustUrl(photo.data)"/>
    </div>
    <ion-item>
      <button ion-button color="danger" icon-left clear item-right (click)="deletePicture(ind)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item>
  </ion-card>
</ion-content>
