<ion-header>
  <ion-navbar>
    <ion-title>
      Take a photo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div class="photo-image-wrapper">
      <ion-spinner class="loader" color="primary" *ngIf="locationLoading"></ion-spinner>
      <img [src]="DomSanitizer.bypassSecurityTrustUrl(base64Image)"/>
    </div>
    <ion-item>
      <button ion-button icon-left clear item-left
          (click)="savePicture()"
          [disabled]="locationLoading"
          *ngIf="image !== null">
        <ion-icon name="cloud-upload"></ion-icon>
        Save
      </button>
      <button ion-button icon-left clear item-right (click)="takePicture()">
        <ion-icon
          [name]="image === null ? 'camera' : 'trash'"
          [color]="image === null ? '' : 'danger'"
        ></ion-icon>
        {{ image === null ? 'Take picture' : 'Drop picture' }}
      </button>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let photo of photoStorage.photos | async; let ind = index; trackBy:photo?.$key">
    <div class="photo-image-wrapper">
      <img [src]="DomSanitizer.bypassSecurityTrustUrl(photo.data)"/>
    </div>
    <ion-item>
      <button ion-button color="danger" icon-left clear item-right (click)="deletePicture(photo)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item>
  </ion-card>
</ion-content>
