.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
    height: 140px;

    & > img {
      position: absolute;
      top: 38%;
      transform: translate(0, -50%);
    }
  }

  .card-title {
    position: absolute;
    top: 65%;
    text-shadow: 2px 2px #fff;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000;
  }
}

.authenticated {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
